body.dark-mode {
    background-color: #333;color: white;
    .commerceTable .itemStats{color: white;background-color:#4e4e4e;}
    .commerceTable .highlight .genericCell{background-color: #4e4e4e;color: white};
    .commerceTable .highlight .checkboxCell{background-color: #4e4e4e;color: white};
    .commerceTable .genericCell{color: black;background-color:#c0c0c0;};
    .commerceTable .checkboxCell{color: black;background-color:#c0c0c0;};
}

body.light-mode {background-color: white;color: black;}
input[type="checkbox"] {transform: scale(1.5);}
.highlight td {background-color: #c0c0c0;color: black}
.commerceTable  {border-collapse:collapse;border-spacing:0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;overflow:visible;padding:3px 5px;word-break: normal;text-align: left;vertical-align: top;}
.commerceTable .title{color: white;}
.commerceTable td{border-color:rgb(172, 172, 172);border-style:solid;border-width:1px;overflow:visible;padding:3px 5px;word-break: normal;}
.commerceTable th{border-color:rgb(172, 172, 172);border-style:solid;border-width:1px;font-weight:normal;overflow:visible;padding:3px 5px;word-break: normal;}
.commerceTable .commerceItem{color: black;}
.commerceTable .itemStats{color: black;background-color:#c0c0c0;}
#KuraTableDiv .commerceTable .title{background-color:#6aa84f;}
#KuraTableDiv .commerceTable .commerceItem{background-color:#d9ead3;}
#CalidaTableDiv .commerceTable .title{background-color:#6495ED;}
#CalidaTableDiv .commerceTable .commerceItem{background-color:#c9daf8;}
#OasisTableDiv .commerceTable .title{background-color:#ff9900;}
#OasisTableDiv .commerceTable .commerceItem{background-color:#fce5cd;}
#PeraTableDiv .commerceTable .title{background-color:#980000;}
#PeraTableDiv .commerceTable .commerceItem{background-color:#e6b8af;}
.commerceTable .blackLeft{border-left: 2px solid black;}
.commerceTable .blackRight{border-right: 2px solid black;}
.commerceTable .blackTop{border-top: 2px solid black;}
.commerceTable .blackBottom{border-bottom: 2px solid black;}
.countdownTitle {font-size: 20px;font-weight: bold;}
.commerceTimer {font-size: 40px;}
.commerceTable .crafting {cursor: pointer;position: relative;}
.commerceTable .crafting .tooltip {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    width: 190px;
    border-radius: 5px;
    white-space: nowrap;
}
.commerceTable .crafting:hover .tooltip {display: block;}
.itemList {
    border-collapse: collapse;
    background-color: white;
}
.itemList td {
    border: 1px solid black; /* Black border with 1px width */
    text-align: left; /* Align text to the left */
    vertical-align: top; /* Align text to the top */
    padding: 10px; /* Padding inside each cell */
    color: black; /* Text color */
}
.itemList .itemCategory {
    background-color: lightblue; /* Light blue background for 'itemCategory' cells */
}

.customLink {color: inherit;}
.customLink:visited {color:inherit}
.customLink:hover {color: blue;}


/*flex box*/
.container {display: flex;flex-wrap: wrap;align-items: flex-start;padding: 10px;position: relative;}
.tables-wrapper {flex: 1 1 60%;display: flex;flex-wrap: wrap;box-sizing: border-box;padding: 5px;}
.table-container {flex: 1 1 50%; /* Each table takes up half the space of their wrapper */box-sizing: border-box;padding: 5px;}
.countdown-container {flex: 1 1 20%; /* Adjust this to control the space taken by timers */display: flex;flex-direction: column;box-sizing: border-box;padding: 10px;}
.itemTableContainer {flex-direction: column;box-sizing: border-box;padding: 20px;}
.gearContainer {width: 200px;height: 200px;background-color: darkgray;}
.gear-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap as needed */
    width: 620px; /* 3 * 200px + 2 * 10px gaps */
}
.gearSlot select {
    display: inline-block;
    margin-right: 10px;
}
.dependentDropdown {
    display: none;
}
.weaponContainer, .armorContainer {width: 200px;height: 400px;background-color: darkgray;}
/* Large screens (above 1080p) */
@media (min-width: 1921px) {
    .table-container, .countdown-container {
        transform: scale(2); /* Adjust scale as needed */
    }
}
/* Small screens (below 1080p) */
@media (max-width: 1080px) {
    .container {
        flex-direction: column;
    }

    .table-container, .countdown-container {
        flex-basis: 100%;
        max-width: 100%;
    }
}

